.logo {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.logo > h3 {
  display: inline;
  background-color: #ffff;
  padding: 0px 10px 0px 10px;
  font-weight: 800;
  border: 2px solid black;
  border-radius: 20px;
}

.logo > h3 > span {
  color: blue;
}

a {
  color: hsl(0, 53%, 92%);
  text-decoration: none;
}

.side-nav-list > a {
  display: block;
}
