<section class="logo">
  <h3><span>Game</span>Time</h3>
</section>

<section class="side-nav-main">
  <p>Main</p>
  <section>
    <img src="/src/assets/dashbord-icon.png" alt="" />
    <a href="">Dashboard</a>
  </section>
  <section><a href="">My Calendar</a></section>
  <section><a href="">Task Board</a></section>
</section>

<section class="side-nav-list">
  <a href="">Address Book</a>
  <a href="">My Items</a>
  <a href="">Searches</a>
  <a href="">Invoicing</a>
  <a href="">HubSpot Deals</a>
  <a href="">Reports</a>
  <a href="">Admin</a>
  <a href="">Logo out</a>
</section>
